@import url(style/header.css);
@import url(style/priciapal.css);
@import url(style/card.css);
@import url(style/formulario.css);
@import url(style/footer.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-de-fundo: #060606;
    --cor-secundaria: #1B91FF;
    --fonte-principal: "Inter"
}

.destaque {
    color: var(--cor-secundaria);
}

body {
    background: url(./assets/background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}









