.itens_principais{
    margin-top: 30%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo_principal,
.subtitulo_principal
{
    font-family: var(--fonte-principal);
    font-weight: bold;
    color: white;
}

.titulo_principal{
    font-size: 3em;
}

.subtitulo_principal{
    font-size: 1em;
}

.destaque_titulo_principal{
    color: var(--cor-secundaria);
}

.botao_principal{
    width: 20vw;
    padding: 1em 4em;
    background: var(--cor-secundaria);
    border-radius: 18px;

    text-decoration: none;
    color: white;
    font-family: var(--fonte-principal);
    font-weight: bold;
}


.imagem_princial {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.imagem_conteudo_principal{
    width: 345px;
    height: 429px;
}

/* Sobre */

.titulo_principal_sobre{
    font-size: 3.5em;
    width: 60vw;
    margin-bottom: 15vh;
}

.texto_principal{
    padding: 0 1em;
    text-align: center;
    color: white;
    font-family: var(--fonte-principal);
    font-size: 1em;
}

.conteudo_sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);
    padding: 5em 1em;
}

.sobre_titulo{
    font-weight: bold;
    font-size: 2em;
}

.botao_container_sobre{
    text-align: center;
    padding: 1em 0 5em 0;
    border-bottom: 1px solid white;
}
